* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #E0B4FF, #FFC0CB);
}

.container {
    margin: auto;
    padding-top: 180px;

}

.card {
    text-align: center;
    margin: auto;
    border: 5px solid rgb(245, 241, 241, 0.5);
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    width: 320px;
    padding: 30px 20px;
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4); 
}

h2 {
    color: #e93a57;
    margin-bottom: 4px;
}

h5 {
    color: rgb(196, 86, 166);
    margin-bottom: 8px;
    font-weight: 500;
}

p {
    font-weight: 400;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 20px;
}

img {
    margin-bottom: 12px;
    border: 3px solid rgba(245, 236, 244, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.icon {
    text-align: center;
}

.icon a {
    display: flex;
    background-color: #d3acf0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 38px;
    display: inline-block;
    margin: 0 10px;
}

.icon a:hover {
    background-color: rgb(241, 166, 221, 0.5);
}