* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #CDF1FC;
    padding: 20vh;
}

.Content{
    background-color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
    height: 360px;
    border-radius: 5%;
    overflow: hidden; 
    /* cho phần thừa nó vẫn được border-radius */
    margin: auto;
}

.Content img{
    width: 300px;
    height: 200px;
}

.Content h2{
    color: black;
    font-size: 24px;
}

.Content p{
    color: rgb(94, 91, 91);
    font-size: 16px;
}

.Content h3{
    color: red;
    font-size: 18px;
}

.son{
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

button{
    color: rgb(241, 241, 243);
    background-color: rgb(93, 170, 252);
    border-radius: 10%;
    border-color: aliceblue;
    width: 260px;
    height: 32px;
}